@font-face {
    font-family: 'THSarabunNew';
    src: url('/buz_post_receipt/static/src/fonts/THSarabunNew.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THSarabunNew';
    src: url('/buz_post_receipt/static/src/fonts/THSarabunNew-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}