@charset "UTF-8";

@font-face {
    font-family: 'Sarabun';
    src: url('/buz_custom_check_layout/static/fonts/Sarabun-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.o_report_layout_standard {
    font-family: 'Sarabun', sans-serif !important;
}