<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_pos_lite_root"
              name="POS Lite"
              sequence="60"
              web_icon="pos_lite,static/description/icon.png"
              groups="pos_lite.group_pos_lite_user"/>

    <menuitem id="menu_pos_lite_session"
              name="Sessions"
              parent="menu_pos_lite_root"
              action="action_pos_lite_session"
              sequence="10"/>

    <menuitem id="menu_pos_lite_orders"
              name="Orders"
              parent="menu_pos_lite_root"
              action="action_pos_lite_orders"
              sequence="12"/>

    <menuitem id="menu_pos_lite_held_orders"
              name="Held Orders"
              parent="menu_pos_lite_root"
              action="action_pos_lite_held_orders"
              sequence="14"/>

    <menuitem id="menu_pos_lite_daily_sales"
              name="Daily Sales"
              parent="menu_pos_lite_root"
              action="action_pos_lite_daily_sales"
              sequence="20"/>

    <menuitem id="menu_pos_lite_sales_analysis"
              name="Sales Analysis"
              parent="menu_pos_lite_root"
              action="action_pos_lite_sales_analysis"
              sequence="22"/>

    <menuitem id="menu_pos_lite_config"
              name="Configuration"
              parent="menu_pos_lite_root"
              action="action_pos_lite_config"
              sequence="30"
              groups="pos_lite.group_pos_lite_manager"/>
</odoo>
